@using Microsoft.Maui.Controls
@inject IJSRuntime JSRuntime
@implements IDisposable

<div id="vue-app">
    {{ message }}
    <el-input v-model="input" placeholder="请输入内容"></el-input>
    <el-button @click="showDialog = true">提交</el-button>
    <el-dialog :visible.sync="showDialog" title="消息">
        <p>提交成功</p>
    </el-dialog>
</div>



@code {
    [Parameter]
    public SecondPage SecondPage { get; set; }

    [JSInvokable]
    public static Task<string> GetFoo()
    {
        return Task.FromResult("this is foo call C# method from js");
    }

    [JSInvokable]
    public static Task<int> Add(AddInput addInput)
    {
        return Task.FromResult(addInput.a + addInput.b);
    }

    public async void Post(object o, OnPostEventArgs args)
    {
        await JSRuntime.InvokeAsync<string>("app.greet", args.Content);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                SecondPage.OnPost += this.Post;

                await JSRuntime.InvokeAsync<IJSObjectReference>(
    "import", "./Views/SecondPageWeb.razor.js");
            }


        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }


    public void Dispose()
    {
        SecondPage1.OnPost -= this.Post;
    }


}